{% extends "base.html" %}
{% block head %}
    <script language="javascript">
        function reSize(){
            parent.document.all.frameid.height=document.body.scrollHeight;
            parent.document.all.frameid.width=document.body.scrollWidth;
        }
        window.onload=reSize;
    </script>
{% endblock %}
{% block title %}Back{% endblock %}
{% block navbar %}
    {% if user.is_authenticated %}
        <a class="nav-item nav-link" id="changepasswd" href="/changepasswd">Change Passwd</a>
        <a class="nav-item nav-link" id="signup" href="/sign-up">Add User</a>
        <a class="nav-item nav-link" id="add_admin" href="/add-admin">Add Admin</a>
        <a class="nav-item nav-link" id="cgi" href="http://{{test}}:8081/cgi-bin/test">Test</a>
        <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
    {% endif %}
{% endblock %}
{% block content %}
    <h1>This is back page</h1>
    <iframe frameborder="0" id="frameid" name="frameid" src="http://{{test}}:8081/cgi-bin/test" allow-forms="true" allow-same-origin="true" allow-scripts="true" allow-top-navigation="true">你的瀏覽器不支援 iframe</iframe>
{% endblock %}
                
    